{% extends "base.html" %}

{% block title %}Block #{% print block_depth %}{% endblock %}

{% block content %}

	<p div class = "small_subheader">Overview</p>
	<div class = "single_item_table">
		<div class = "feature__item">

			<div class = "feafure_item__left">
				<span>Block Depth</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ block_depth }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Block Hash</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.previous_block_hash }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Coinbase</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.coinbase }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Nonce</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.nonce }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Date</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.dt }}</span>
			</div>
		</div>

	</div>
	{% if transactions %}
		<p div class="page__header"> Block transactions </p>
		{% for tn in transactions %}
			<div class = "latest_transactions__listitem instance_listitem">

				<div class = "instance_listitem_left">
					<span>
						<a href = "/transaction/{{ tn['transactionHash'] }}">
							{{ tn['transactionHash'][:10] }}...
						</a>
					</span>
					<span class = "little">
						{{ tn['dt'] }}
					</span>
					<span class = "little">
						{{ tn['depth'] }}
					</span>
				</div>
				<div class = "instance_listitem_center">
					<span class = "from-to">
						<a href = "/address/{{ tn['from'] }}">
							{{ tn['from'][:10] }}...
						</a> 
						<i class="fas fa-long-arrow-alt-right"></i> 
						<a href = "/address/{{ tn['to'] }}">
							{{ tn['to'][:10] }}...
						</a>
					</span>
				</div>
				<div class = "instance_listitem_right">
					<span class = "purple">{{ tn['amount'] }} LikeLib</span>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}