{% extends "base.html" %}

{% block title %}Transaction {% print data.transactionHash %}{% endblock %}

{% block content %}


	<p div class = "small_subheader">Overview</p>

	<div class = "single_item_table">

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Transaction Hash</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.transactionHash }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>From</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.from }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>To</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.to }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Type</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.type }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Amount</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.amount }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Fee</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.fee }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Depth</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.depth }}</span>
			</div>
		</div>

		<div class = "feature__item">
			<div class = "feafure_item__left">
				<span>Date</span>
			</div>
			<div class = "feature_item__right">
				<span>{{ data.dt }}</span>
			</div>
		</div>

	</div>

{% endblock %}